[submodule "lib/learn-python3"]
	path = lib/learn-python3
	url = https://github.com/michaelliao/learn-python3
[submodule "lib/geek-python"]
	path = lib/geek-python
	url = https://github.com/geekcomputers/Python
[submodule "lib/algorithms-python"]
	path = lib/algorithms-python
	url = https://github.com/TheAlgorithms/Python
[submodule "man/python3-cookbook"]
	path = man/python3-cookbook
	url = https://github.com/yidao620c/python3-cookbook.git
[submodule "referto/TheAlgorithms"]
	path = referto/TheAlgorithms
	url = https://github.com/TheAlgorithms/Python.git
[submodule "referto/geek-python"]
	path = referto/geek-python
	url = https://github.com/geekcomputers/Python.git
[submodule "referto/python-patterns"]
	path = referto/python-patterns
	url = https://github.com/faif/python-patterns.git
